* {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
}

th {
  background: #312925;
  padding: 10px !important;
  color: #F4805D !important;
}

th strong { color: #F4805D !important; }

.border { border-style: dashed; }

.callout[data-callout-type="note"] {
  background-color: rgba(52,211,153,0.3) !important;
  border-color: #34D399 !important;
}

.callout[data-callout-type="note"] svg.dark:text-blue-300 {
  color: #34D399 !important;
  fill: #34D399 !important;
}

.callout[data-callout-type="note"] .prose { color: #34D399 !important; }

#content-area { max-width: 1500px !important; }

table code { white-space: nowrap !important; }

code { background: rgba(244,128,93,0.4) !important; }

pre code { background: none !important; }

.text-lg {
  font-size: 1rem !important;
  line-height: 1.75 !important; 
}

[data-testid="api-playground-modal"] { background: aqua !important; }

[data-testid="api-playground-modal"] .lg:grid-cols-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}