{
  "openapi": "3.1.0",
  "info": {
    "title": "MoltSets API",
    "version": "1.0.0",
    "description": "MoltSets is an identity resolution API. Use it to resolve emails, LinkedIn profiles, and IP addresses into enriched contact and company data, including business and personal emails, mobile phone numbers, and firmographic details."
  },
  "servers": [
    {
      "url": "https://api.moltsets.com/api/v1/tools",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token. Keys follow the format `ms_XXXXXXXXXXX`."
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "properties": {
          "fair_use": {
            "type": "object",
            "description": "Fair Use Policy headroom for the record limits that apply to this call.",
            "properties": {
              "records_remaining_5h": {
                "type": "integer",
                "description": "Records you can still request in the current rolling 5-hour window."
              },
              "records_reset_5h": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the 5-hour records window resets."
              },
              "records_remaining_1w": {
                "type": "integer",
                "description": "Records you can still request in the current rolling 1-week window."
              },
              "records_reset_1w": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the 1-week records window resets."
              }
            }
          }
        }
      },
      "ErrorBadRequest": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "The server cannot process the request due to a client error (400 Bad Request)."
          }
        }
      },
      "ErrorInvalidInput": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid Input"
          },
          "message": {
            "type": "string",
            "example": "Message describing the nature of the invalid input."
          }
        }
      },
      "ErrorUnauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Invalid API key."
          }
        }
      },
      "ErrorInternal": {
        "type": "object",
        "description": "Returned when the endpoint itself is unavailable. Not caused by anything in the request. Note that this error nests `code` and `message` inside `error`, unlike most error responses, and returns an empty `metadata` object.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "internal_error"
              },
              "message": {
                "type": "string",
                "example": "Unexpected connection error."
              }
            }
          },
          "metadata": {
            "type": "object",
            "example": {}
          }
        }
      },
      "ErrorPlanRestricted": {
        "type": "object",
        "description": "Returned when the endpoint is not available on the account's plan. Note that this error nests `code` and `message` inside `error`, unlike the other error responses.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "plan_restricted"
              },
              "message": {
                "type": "string",
                "example": "Personal email lookups are not available on your plan. Contact support@moltsets.com to request access."
              }
            }
          }
        }
      },
      "ErrorNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "example": "No match was found for the data provided."
          }
        }
      },
      "ErrorRateLimit": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Too Many Requests"
          },
          "message": {
            "type": "string",
            "example": "Rate limit exceeded. Maximum 100 requests per second."
          }
        }
      }
    }
  },
  "paths": {
    "/search_people": {
      "post": {
        "summary": "Search for People",
        "operationId": "searchBusinessProfiles",
        "description": "The People Search API lets you search MoltSets' contact database for people by name, job title, company, industry, country, seniority, or department.\n\nUse `title` for the job title or role — it matches the title field alone, so it is far more precise than putting a role in `query`. Use `query` for the person's name, or for loose natural-language phrases when you have nothing more specific. To find people at a specific company, use `company` (company name) or `company_domain` (website domain) rather than putting the employer in `query`. Use the exact filters (`country`, `state`, `city`, `seniority`, `industry`, `department` or `functional_area`, `employee_range`, `revenue_range`) to narrow further — `employee_range` and `revenue_range` scope to people at companies of that size or revenue without needing a specific company. Combining `query` with filters gives the most precise matches. Every result comes back ranked, with a higher `_score` meaning a stronger match.\n\nThe `exclude_*` parameters (`exclude_company_domain`, `exclude_country`, `exclude_state`, `exclude_industry`, `exclude_seniority`, `exclude_employee_range`) work the other way round: each one takes a list and removes matches rather than selecting them. `exclude_company_domain` is how you suppress companies you already have. Exclusions narrow a search but cannot be the whole search — you still need at least one positive input.\n\n**Use this endpoint to:**\n- Build targeted lead lists for outbound sales\n- Identify decision makers at specific target accounts\n- Populate outbound sequences with verified contact data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Full-text search across full_name, first_name, last_name, company name, title (~85% filled), and headline (~65% filled) using cross-field matching. Multi-word queries distribute terms across fields — \"John Smith\" matches first_name: John AND last_name: Smith rather than requiring either field alone to contain the full string. Best for person names, and for loose natural-language phrases when nothing more specific fits. For a job title or role, use the `title` filter instead: a role placed here is diluted across names and company names and only needs most of its terms to match, so \"Account Executive\" in `query` can also return Account Managers. Likewise use `seniority` for level (VP, Director, C-suite), and `company` or `company_domain` for a specific employer. Categorical values like country or seniority belong in their own filter params rather than this field.",
                    "example": "Jane Doe"
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title filter (~85% filled) — scopes results to people whose job title matches, and the precise way to search by role. The match is analysed rather than literal: a one or two word title requires every word, so \"Account Executive\" will not return Account Managers. A longer title requires 75% of its words, rounded down — a three or four word title must match all but one, a five or six word title all but two. That allowance is what stops function words breaking a match, so \"VP of Sales\" still finds \"VP, Sales\". Extra words in the stored title are always fine: \"Account Executive\" matches \"Senior Account Executive, SMB\". Prefer this over putting a role in `query`. For seniority level use the `seniority` filter, which is a clean enumerated list, and use `title` for the role or function itself — the two combine, e.g. `title: \"Sales\"` with `seniority: \"VP\"`. Around 15% of profiles carry no title at all, and those can never match a title filter.",
                    "example": "Account Executive"
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name filter — scopes results to people whose employer's name matches. Analysed match: every word you provide must appear in the company name, so extra words in the stored name are fine (\"Acme\" matches \"Acme Corporation\"). Use this when you have a company name but not its domain; if you have the domain, prefer `company_domain`, which is more precise.",
                    "example": "MoltSets"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Company domain filter — scopes results to people at the company with this website domain. Full URLs are normalised automatically (\"https://www.acme.com/about\" → \"acme.com\"), so there is no need to strip the protocol or path yourself. The most precise way to target a single company — prefer it over `company` whenever you know the domain.",
                    "example": "moltsets.com"
                  },
                  "country": {
                    "type": "string",
                    "description": "Exact country name filter (~99% filled — most reliable filter). Must match the stored value exactly. Top values by volume: \"United States\", \"India\", \"United Kingdom\", \"Brazil\", \"Canada\", \"France\", \"Mexico\", \"Australia\", \"China\", \"Spain\", \"Netherlands\", \"Italy\", \"Indonesia\", \"Germany\", \"Philippines\", \"Turkey\", \"South Africa\", \"Saudi Arabia\", \"Argentina\", \"Singapore\", \"United Arab Emirates\", \"Colombia\", \"South Korea\", \"Malaysia\", \"Poland\", \"Belgium\", \"Switzerland\", \"Ireland\", \"Sweden\", \"Denmark\", \"Norway\", \"Austria\", \"Portugal\", \"Israel\", \"New Zealand\", \"Finland\", \"Greece\", \"Hungary\", \"Romania\", \"Ukraine\". Use the full English country name. \"UK\" and \"HK\" also exist in the data as dirty values — prefer \"United Kingdom\" and \"Hong Kong\".",
                    "example": "United States"
                  },
                  "state": {
                    "type": "string",
                    "description": "Exact state or region name filter on the person's location. Must match the stored value exactly — full names with standard capitalisation, not abbreviations (\"Texas\", not \"TX\"). Combine with `country` for precision.",
                    "example": "Texas"
                  },
                  "city": {
                    "type": "string",
                    "description": "Exact city name filter on the person's location. Must match the stored value exactly, with standard capitalisation. City names repeat across regions, so combine with `state` and/or `country` to disambiguate — e.g. city: \"Portland\", state: \"Oregon\". Matches only the exact stored city, not its suburbs — for a metro-area search prefer `state` or `country`.",
                    "example": "Austin"
                  },
                  "seniority": {
                    "type": "string",
                    "description": "Exact seniority level filter (~60% filled). Must match one of the enumerated values exactly, including the space in \"C Suite\" (not a hyphen).",
                    "enum": [
                      "Intern",
                      "Entry",
                      "Senior",
                      "Manager",
                      "Director",
                      "VP",
                      "Head",
                      "C Suite",
                      "Owner",
                      "Partner"
                    ]
                  },
                  "industry": {
                    "type": "string",
                    "description": "Exact current industry filter (~60% filled). These 22 buckets are the only supported values, and must match exactly, including capitalisation and punctuation (e.g. the ampersand in \"Marketing & Advertising\").",
                    "enum": [
                      "Professional and Business Services",
                      "Information Technology",
                      "Manufacturing",
                      "Retail",
                      "Health and Pharmaceuticals",
                      "Creative Arts and Entertainment",
                      "Construction",
                      "Marketing & Advertising",
                      "Finance and Banking",
                      "Tourism and Hospitality",
                      "Non-Profit and Social Services",
                      "Food and Beverage",
                      "Real Estate",
                      "Education",
                      "Transportation and Logistics",
                      "Media and Publishing",
                      "Energy",
                      "Government and Public Administration",
                      "Automotive",
                      "Telecommunications",
                      "Agriculture",
                      "Utilities"
                    ]
                  },
                  "department": {
                    "type": "string",
                    "description": "Exact department filter (~60% filled). Shares its underlying data with `functional_area` — use one or the other, not both. Must match one of the enumerated values exactly, including capitalisation and punctuation (e.g. the ampersand in \"Medical & Health\").",
                    "enum": [
                      "Operations",
                      "Sales",
                      "Information Technology",
                      "Education",
                      "Engineering",
                      "Finance",
                      "Medical & Health",
                      "Marketing",
                      "Human Resources",
                      "Design",
                      "Consulting",
                      "Legal"
                    ]
                  },
                  "functional_area": {
                    "type": "string",
                    "description": "Exact functional area filter (~60% filled). Shares its underlying data with `department` — use one or the other, not both.",
                    "enum": [
                      "Operations",
                      "Sales",
                      "Information Technology",
                      "Education",
                      "Engineering",
                      "Finance",
                      "Medical & Health",
                      "Marketing",
                      "Human Resources",
                      "Design",
                      "Consulting",
                      "Legal"
                    ]
                  },
                  "employee_range": {
                    "type": "string",
                    "description": "Exact employee-count range filter on the person's current employer — finds people at companies of a certain size without needing to name a specific company. These eight numeric bands are the only supported values, and use the same vocabulary as `search_companies`. Combine with other filters, e.g. `seniority: \"VP\"`, `employee_range: \"51-200\"`.",
                    "enum": [
                      "1-10",
                      "11-20",
                      "21-50",
                      "51-200",
                      "201-500",
                      "501-1000",
                      "1001-5000",
                      "5001+"
                    ]
                  },
                  "revenue_range": {
                    "type": "string",
                    "description": "Exact annual revenue range filter on the person's current employer — finds people at companies of a certain revenue without needing to name a specific company. These seven bands are the only supported values, and use the same vocabulary as `search_companies`. \"Above $50M\" is a flat catch-all for all revenue over $50M; there is no finer band above it.",
                    "enum": [
                      "Below $500k",
                      "$500k - $1M",
                      "$1M - $5M",
                      "$5M - $10M",
                      "$10M - $20M",
                      "$20M - $50M",
                      "Above $50M"
                    ]
                  },
                  "naics_code": {
                    "type": "string",
                    "description": "Exact NAICS industry code filter on the person's current employer (~50% filled). Works at any level of the hierarchy, from the 2-digit sector (\"23\" = Construction, \"54\" = Professional Services) through to the 6-digit national industry (\"541120\" = Offices of Notaries, \"511210\" = Software Publishers). Use a short code for broad industry targeting and a longer code for precision. The most standardised industry filter available — prefer it over `industry` when you need fine-grained targeting.",
                    "example": "541120"
                  },
                  "linkedin_industry": {
                    "type": "string",
                    "description": "Exact LinkedIn industry label filter on the person's current employer. Uses LinkedIn's own industry vocabulary, which is far finer-grained than the 22 buckets in `industry`. Must match the stored label exactly, with standard capitalisation — for example \"Software Development\", \"Hospitality\", \"Legal Services\", \"Wellness and Fitness Services\", \"Construction\", \"Staffing and Recruiting\". Use when a niche industry cannot be expressed by the broad `industry` buckets.",
                    "example": "Software Development"
                  },
                  "exclude_company_domain": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Company domains to exclude. People at any listed company are dropped from the results — this is the suppression list, so pass the accounts you already have (existing customers, current vendors, your own company) and they never come back. Full URLs are normalised automatically, exactly as with `company_domain`. Excluded records cost you nothing: they consume no tokens and no fair use records, so excluding here is always cheaper than filtering the results yourself.",
                    "example": [
                      "acme.com",
                      "stripe.com"
                    ]
                  },
                  "exclude_country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Countries to exclude. People in any listed country are dropped. Accepts the same values as `country` — use it when you want everywhere except a few places.",
                    "example": [
                      "India",
                      "Philippines"
                    ]
                  },
                  "exclude_state": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "States or regions to exclude. People in any listed state are dropped. Accepts the same values as `state` (full names, never abbreviations). Combine with a positive `country` — for example `country: \"United States\"` with `exclude_state: [\"California\"]`.",
                    "example": [
                      "California",
                      "New York"
                    ]
                  },
                  "exclude_industry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Industries to exclude. People whose current industry is any listed value are dropped. Accepts the same values as `industry`. Around 40% of profiles carry no industry at all, and exclusion only removes profiles that positively carry a listed value — so those profiles still appear.",
                    "example": [
                      "Education",
                      "Government and Public Administration"
                    ]
                  },
                  "exclude_seniority": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Seniority levels to exclude. People at any listed level are dropped. Accepts the same values as `seniority` (note the space in \"C Suite\"). Same caveat as `exclude_industry`: profiles with no seniority on record are not excluded.",
                    "example": [
                      "Intern",
                      "Entry"
                    ]
                  },
                  "exclude_employee_range": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Employer size bands to exclude. People at companies in any listed band are dropped. Accepts the same values as `employee_range` — for example [\"1-10\", \"11-20\"] to skip very small companies, or [\"5001+\"] to skip enterprises.",
                    "example": [
                      "1-10",
                      "11-20"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return (default: 10, max: 25).",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 25
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of results to skip for pagination (default: 0). Use with limit to page through results — e.g. offset: 10 to get the second page of 10 results.",
                    "default": 0
                  }
                }
              },
              "example": {
                "title": "Account Executive",
                "country": "United States",
                "seniority": "Senior",
                "exclude_company_domain": [
                  "acme.com",
                  "stripe.com"
                ],
                "limit": 10,
                "offset": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "results": [
                          {
                            "full_name": "Morgan Hebb",
                            "first_name": "Morgan",
                            "last_name": "Hebb",
                            "title": "Account Executive",
                            "headline": "EdTech | Account Executive | Teacher by Training",
                            "seniority": "Senior",
                            "city": "Chicago",
                            "state": "Illinois",
                            "country": "United States",
                            "current_industry": "Information Technology",
                            "functional_area": [
                              "Sales"
                            ],
                            "linkedin_url": "https://linkedin.com/in/morganhebb",
                            "business_email": "morgan.hebb@packback.co",
                            "business_email_risk_score": "A",
                            "business_email_validated_at": "2026-08-25",
                            "current_role_start_date": "2025-10-01",
                            "last_updated_at": "2026-08-01",
                            "company": {
                              "name": "Packback",
                              "size": "101",
                              "industry": "Information Technology",
                              "website_url": "https://www.packback.co/",
                              "domain": "packback.co",
                              "linkedin_url": "linkedin.com/company/packback",
                              "naics_codes": [
                                "5112",
                                "51121",
                                "511210"
                              ],
                              "naics_titles": [
                                "Software Publishers"
                              ],
                              "linkedin_industry": [
                                "E-Learning Providers"
                              ],
                              "logo_url": "https://cdn.mixrank.com/md5/0c5b75379a35b0e1fc8a4b6e77fb2ba8"
                            },
                            "_id": "morganhebb",
                            "_score": 9.1714
                          }
                        ],
                        "total": 278
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 89999,
                          "records_reset_5h": "2026-08-25T15:46:15Z",
                          "records_remaining_1w": 300423,
                          "records_reset_1w": "2026-08-30T08:00:07Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/search_companies": {
      "post": {
        "summary": "Search for Companies",
        "operationId": "searchCompanyProfiles",
        "description": "The Company Search API lets you search MoltSets' company database by name, domain, industry, employee count, or annual revenue, so you can find and qualify target accounts.\n\nUse `query` for free text company name search, `domain` for an exact lookup by website domain, and the filters (`industry`, `employee_range`, `revenue_range`) to narrow your results. Combining `query` with filters gives the most precise matches. Every result comes back ranked, with a higher `_score` meaning a stronger match.\n\nThe `exclude_*` parameters (`exclude_domain`, `exclude_industry`, `exclude_employee_range`, `exclude_revenue_range`) work the other way round: each one takes a list and removes matches rather than selecting them. `exclude_domain` is how you suppress accounts you already have. Exclusions narrow a search but cannot be the whole search — you still need at least one positive input.\n\n**Use this endpoint to:**\n- Build prospect lists for account-based marketing\n- Qualify target accounts before outreach\n- Enrich CRM records with firmographic data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Full-text search across company name only. Do not put domain, industry, employee size, or revenue here — use the dedicated filter params for those."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Exact company domain filter. Full URLs are normalised automatically (\"https://www.acme.com/about\" → \"acme.com\"), so there is no need to strip the protocol or path yourself. Prefer this over `query` when you know the domain, since it is a precise match rather than a text search.",
                    "example": "moltsets.com"
                  },
                  "industry": {
                    "type": "string",
                    "description": "Exact industry filter. These 22 buckets are the only supported values, and must match exactly, including capitalisation and punctuation (note the ampersand in \"Marketing & Advertising\"). For a niche the buckets cannot express — insurance carriers, aerospace, mining — use `linkedin_industry` instead.",
                    "enum": [
                      "Professional and Business Services",
                      "Information Technology",
                      "Manufacturing",
                      "Retail",
                      "Health and Pharmaceuticals",
                      "Creative Arts and Entertainment",
                      "Construction",
                      "Marketing & Advertising",
                      "Finance and Banking",
                      "Tourism and Hospitality",
                      "Non-Profit and Social Services",
                      "Food and Beverage",
                      "Real Estate",
                      "Education",
                      "Transportation and Logistics",
                      "Media and Publishing",
                      "Energy",
                      "Government and Public Administration",
                      "Automotive",
                      "Telecommunications",
                      "Agriculture",
                      "Utilities"
                    ]
                  },
                  "employee_range": {
                    "type": "string",
                    "description": "Exact employee count range filter. These eight numeric bands are the only supported values — \"1-10\" holds the most records by a wide margin, \"5001+\" the fewest.",
                    "enum": [
                      "1-10",
                      "11-20",
                      "21-50",
                      "51-200",
                      "201-500",
                      "501-1000",
                      "1001-5000",
                      "5001+"
                    ]
                  },
                  "revenue_range": {
                    "type": "string",
                    "description": "Exact annual revenue range filter. These seven bands are the only supported values — \"$500k - $1M\" is the most common. \"Above $50M\" is a flat catch-all for all revenue over $50M; there is no finer band above it, so use it for any large-enterprise revenue target.",
                    "enum": [
                      "Below $500k",
                      "$500k - $1M",
                      "$1M - $5M",
                      "$5M - $10M",
                      "$10M - $20M",
                      "$20M - $50M",
                      "Above $50M"
                    ]
                  },
                  "naics_code": {
                    "type": "string",
                    "description": "Exact NAICS industry code filter (~50% filled). Works at any level of the hierarchy, from the 2-digit sector (\"23\" = Construction, \"54\" = Professional Services) through to the 6-digit national industry (\"541120\" = Offices of Notaries, \"511210\" = Software Publishers). Use a short code for broad industry targeting and a longer code for precision — the most standardised industry filter available.",
                    "example": "541120"
                  },
                  "linkedin_industry": {
                    "type": "string",
                    "description": "Exact LinkedIn industry label filter (~85% filled). Uses LinkedIn's own industry vocabulary, which is far finer-grained than the 22 buckets in `industry`. Must match the stored label exactly, with standard capitalisation — for example \"Software Development\", \"Hospitality\", \"Legal Services\", \"Staffing and Recruiting\", \"Wellness and Fitness Services\".",
                    "example": "Software Development"
                  },
                  "country": {
                    "type": "string",
                    "description": "Exact country name filter on the company's location. Use the full English country name. Note that company location is derived from where the company's team is based: this is accurate for the small companies that dominate the index, but large multinationals are attributed to a single one of their offices — combine it with other filters rather than relying on location alone when targeting global companies.",
                    "example": "United States"
                  },
                  "state": {
                    "type": "string",
                    "description": "Exact state or region name filter on the company's location. Full names with standard capitalisation (\"Texas\", not \"TX\"). Combine with `country` for precision. Location is team-derived in the same way as `country`, so it is most accurate for smaller companies.",
                    "example": "Texas"
                  },
                  "exclude_domain": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Company domains to exclude. Any company on this list is dropped from the results — this is the suppression list, so pass the accounts you already have (existing customers, current vendors, your own company) and they never come back. Full URLs are normalised automatically, exactly as with `domain`. Excluded records cost you nothing: they consume no tokens and no fair use records, so excluding here is always cheaper than filtering the results yourself.",
                    "example": [
                      "acme.com",
                      "stripe.com"
                    ]
                  },
                  "exclude_industry": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Industries to exclude. Companies in any listed industry are dropped. Accepts the same values as `industry`. Exclusion only removes companies that positively carry one of these values, so companies with no industry on record still appear in your results.",
                    "example": [
                      "Education",
                      "Non-Profit and Social Services"
                    ]
                  },
                  "exclude_employee_range": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Employee count bands to exclude. Companies in any listed band are dropped. Accepts the same values as `employee_range` — for example [\"1-10\", \"11-20\"] to skip the very smallest companies, or [\"5001+\"] to skip enterprises.",
                    "example": [
                      "1-10",
                      "11-20"
                    ]
                  },
                  "exclude_revenue_range": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Revenue bands to exclude. Companies in any listed band are dropped. Accepts the same values as `revenue_range` — for example [\"Below $500k\"] to skip the smallest companies, or [\"Above $50M\"] to skip large enterprises.",
                    "example": [
                      "Below $500k"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return (default: 10, max: 25).",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 25
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of results to skip for pagination (default: 0). Use with limit to page through results — e.g. offset: 10 to get the second page of 10 results.",
                    "default": 0
                  }
                }
              },
              "example": {
                "industry": "Information Technology",
                "employee_range": "51-200",
                "revenue_range": "$10M - $20M",
                "exclude_domain": [
                  "acme.com",
                  "stripe.com"
                ],
                "limit": 10,
                "offset": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "results": [
                          {
                            "name": "Moltsets",
                            "domain": "moltsets.com",
                            "industry": "Information Technology",
                            "linkedin_url": "linkedin.com/company/moltsets-contact-data",
                            "revenue_range": "$1M - $5M",
                            "employee_count": "5",
                            "employee_range": "1-10",
                            "city": "San Carlos",
                            "state": "California",
                            "country": "United States",
                            "naics_codes": [
                              "5112",
                              "51121",
                              "511210"
                            ],
                            "naics_titles": [
                              "Software Publishers"
                            ],
                            "linkedin_industry": [
                              "Software Development"
                            ],
                            "logo_url": "https://cdn.mixrank.com/md5/48188bb7d0df12849cabfeea895243ae",
                            "_id": "moltsets.com",
                            "_score": 18.4271
                          },
                          {
                            "name": "Acme Infolabs",
                            "domain": "acmeinfolabs.com",
                            "industry": "Information Technology",
                            "linkedin_url": "linkedin.com/company/acmeinfolabs",
                            "revenue_range": "$20M - $50M",
                            "employee_count": "57",
                            "employee_range": "51-200",
                            "city": "Bengaluru",
                            "state": "Karnataka",
                            "country": "India",
                            "naics_codes": [
                              "5415",
                              "54151",
                              "541511",
                              "541519"
                            ],
                            "naics_titles": [
                              "Computer Systems Design and Related Services",
                              "Custom Computer Programming Services",
                              "Other Computer Related Services"
                            ],
                            "linkedin_industry": [
                              "IT Services and IT Consulting"
                            ],
                            "logo_url": "https://cdn.mixrank.com/md5/0e4e81c8ff584b1ce3e4c3067e8cb033",
                            "_id": "acmeinfolabs.com",
                            "_score": 15.0141
                          },
                          {
                            "name": "Acme Inc",
                            "domain": "atmexpressfinancial.com",
                            "industry": "Information Technology",
                            "linkedin_url": "linkedin.com/company/acme-inc",
                            "revenue_range": "Above $50M",
                            "employee_count": "150",
                            "employee_range": "51-200",
                            "city": "Denver",
                            "state": "Colorado",
                            "country": "United States",
                            "_id": "atmexpressfinancial.com",
                            "_score": 15.0141
                          }
                        ],
                        "total": 210
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 89999,
                          "records_reset_5h": "2026-08-25T15:46:15Z",
                          "records_remaining_1w": 300423,
                          "records_reset_1w": "2026-08-30T08:00:07Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/search_linkedin_profile": {
      "post": {
        "summary": "Search for LinkedIn Profile",
        "operationId": "linkedinSlugSearch",
        "description": "The LinkedIn Profile Search API finds a person or company's LinkedIn profile from a name and company domain.\n\nPass a full name (MoltSets splits it into first and last name for you) or send `first_name` and `last_name` separately, then add the company as a domain, for example `acme.com`. URLs are normalised automatically, so there's no need to clean up your inputs first.\n\nRun a free count first with `count_only: true` to see how many matches exist, then tighten or loosen your search before spending tokens. Full results are only charged when a match is actually found, so an empty search costs nothing.\n\n**Use this endpoint to:**\n- Confirm you have the right LinkedIn profile before enriching a contact\n- Check match volume before running a bulk search\n- Attach LinkedIn URLs to contact records that are missing one\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  },
                  "count_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "Free — returns the count of matching results without fetching data or charging tokens. Use this first to gauge result volume before committing to a full search."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com",
                "count_only": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "count_only": {
                    "summary": "Count only",
                    "value": {
                      "results": {
                        "count": 3
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  },
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": [
                        {
                          "full_name": "John Smith",
                          "first_name": "John",
                          "last_name": "Smith",
                          "linkedin_slug": "john-smith-123",
                          "linkedin_url": "https://linkedin.com/in/john-smith-123",
                          "company": "acme.com"
                        }
                      ],
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_email_by_name": {
      "post": {
        "summary": "Search Business Email by Name",
        "operationId": "searchBusinessEmailByName",
        "description": "The Business Email Finder API finds a person's valid work email address from just their name and company domain.\n\nIt runs a LinkedIn profile search and an email lookup in a single call, and returns the email address along with the matched LinkedIn profile URL. Pass a full name or separate `first_name` and `last_name` fields, and provide the company as a domain, for example `acme.com`. URLs are normalised automatically, and tokens are only charged when an email is found.\n\n**Use this endpoint to:**\n- Find a prospect's work email before outreach\n- Fill in missing email fields on a lead list\n- Enrich CRM records with verified contact emails\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@acme.com",
                        "risk_score": "A",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_profile_by_name": {
      "post": {
        "summary": "Search Business Profile by Name",
        "operationId": "searchBusinessProfileByName",
        "description": "The Business Profile Finder API finds anyone's full business profile from just their name and company domain.\n\nIt runs a LinkedIn profile search and a firmographic lookup in a single call, and returns the person's job title and company, plus company details such as industry, size, and location. Pass a full name or separate `first_name` and `last_name` fields, and provide the company as a domain, for example `acme.com`. URLs are normalised automatically, and tokens are only charged when a match is found.\n\n**Use this endpoint to:**\n- Build a complete picture of a contact and their employer in one call\n- Qualify leads with company context before outreach\n- Enrich CRM records with job title and firmographic data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "full_name": "John Smith",
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "VP of Engineering",
                        "company": "Acme Inc",
                        "company_domain": "acme.com",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123",
                        "firmographics": {
                          "industry": "Software",
                          "employee_count": "201-500",
                          "revenue": "$50M-$100M"
                        }
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_email": {
      "post": {
        "summary": "LinkedIn to Best Email",
        "operationId": "enrichEmail",
        "description": "The LinkedIn to Email API finds the best available email address for any LinkedIn profile. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`).\n\nIt returns a valid business email when one exists, and automatically falls back to a personal email if not, so you get a result whenever the data is available. The `type` field in the response tells you which kind was returned. Use this as your default LinkedIn-to-email enrichment endpoint when the type of email doesn't matter to you.\n\n**Use this endpoint to:**\n- Enrich LinkedIn-sourced leads with a working email address\n- Maximise match rate across business and personal inboxes\n- Fill contact records that only have a LinkedIn URL\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL or slug."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs or slugs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address found, or null if not found."
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        },
                        "type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "business",
                            "personal",
                            null
                          ],
                          "description": "Whether the returned email is a business or personal address."
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO 8601 timestamp of last validation, or null."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com",
                        "risk_score": "A",
                        "type": "business",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "not_found"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "No data found",
                    "value": {
                      "results": {
                        "email": null,
                        "type": null,
                        "last_validated_at": null
                      },
                      "status": "not_found",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_business_email": {
      "post": {
        "summary": "LinkedIn to Business Email",
        "operationId": "enrichBusinessEmail",
        "description": "The LinkedIn to Business Email API retrieves the valid work email address for any LinkedIn profile. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`).\n\nIt only returns corporate email addresses, no personal inboxes. Use this when you need to reach contacts at their workplace domain, for example for B2B outreach, CRM enrichment, or account-based marketing campaigns. If you also want a personal email fallback, use `linkedin_to_best_email` instead.\n\n**Use this endpoint to:**\n- Reach prospects at their work email address\n- Enrich B2B lead lists with corporate emails\n- Power account-based marketing and sales sequences\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL or slug."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs or slugs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Valid business email address"
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com",
                        "risk_score": "A"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_personal_email": {
      "post": {
        "summary": "LinkedIn to Personal Email",
        "operationId": "enrichPersonalEmail",
        "description": "The LinkedIn to Personal Email API retrieves the valid personal email address, such as Gmail or iCloud, for any LinkedIn profile. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`).\n\nUse this to reach contacts outside their work inbox. It's well suited to recruitment outreach, consumer marketing, or re-engagement campaigns where a personal address improves deliverability.\n\n**Use this endpoint to:**\n- Reach candidates or prospects outside working hours\n- Improve deliverability for consumer marketing sends\n- Re-engage contacts who've left their previous employer\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**Plan Availability:**\nThis endpoint is not available on the $997 plan. Accounts on that plan should use `linkedin_to_business_email` instead.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL or slug."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs or slugs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "risk_score": "A",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — endpoint not available on this plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPlanRestricted"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_personal_email": {
      "post": {
        "summary": "LinkedIn to Best Personal Email",
        "operationId": "linkedinToBestPersonalEmail",
        "description": "The LinkedIn to Best Personal Email API turns a LinkedIn profile into a valid personal email address in a single call. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`).\n\nPass a LinkedIn URL or slug and get back the highest-confidence personal email MoltSets holds for that person, along with the date it was last validated. Every email is re-checked within the last 30 days, so each result comes with a recent validation date you can act on with confidence.\n\n**Use this endpoint to:**\n- Get the single best personal email for a contact, with confidence\n- Confirm an email is still active before sending\n- Enrich records where deliverability matters most\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**Plan Availability:**\nThis endpoint is not available on the $997 plan. Accounts on that plan should use `linkedin_to_business_email` instead.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL or slug."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs or slugs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/johndoe"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/johndoe",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "risk_score": "A",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — endpoint not available on this plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorPlanRestricted"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_mobile_phone": {
      "post": {
        "summary": "LinkedIn to Mobile Phone",
        "operationId": "enrichPhone",
        "description": "The LinkedIn to Mobile Phone API looks up the carrier-verified mobile phone number for a LinkedIn profile, along with the date it was last verified.\n\nOnly mobile numbers are returned, no landlines or VoIP numbers, so every result is a real device. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`). Mobile lookups spend **phone tokens** — an allowance set by your plan, separate from your regular token balance — at 1 phone token per returned result.\n\n**Use this endpoint to:**\n- Power SMS outreach and cold calling\n- Enrich sales sequences with direct-dial mobile numbers\n- Batch-append verified phone numbers to a contact list\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Get Carrier-Verified Mobile Phones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "mobile_phone": "5555555555",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        }
                      },
                      "phone_tokens_used": 1,
                      "phone_tokens_remaining": 498
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — the endpoint is temporarily unavailable. Not caused by the request; the MoltSets team is alerted automatically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInternal"
                }
              }
            }
          }
        }
      }
    },
    "/reverse_email_lookup": {
      "post": {
        "summary": "Reverse Email Lookup",
        "operationId": "hemToBusinessProfile",
        "description": "The Reverse Email Lookup API resolves an email address into a complete business profile, including full name, job title, seniority, company, LinkedIn URL, firmographic data, and any other email addresses on file.\n\n**Use this endpoint to:**\n- Enrich inbound leads and form fills with full contact context\n- Qualify a prospect before you reach out\n- Fill in missing profile data on an existing email list\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Reverse Lookups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "Principal Cybersecurity Engineer",
                        "seniority": "Manager",
                        "functional_area": "Information Technology",
                        "linkedinurl": "https://www.linkedin.com/in/john-smith-123",
                        "current_company": "MoltSets",
                        "current_company_url": "https://moltsets.com",
                        "current_company_linkedinurl": "https://linkedin.com/company/moltsets",
                        "country": "United States",
                        "company_employee_count": "3",
                        "company_employee_range": "1-10",
                        "company_revenue": "1200000000",
                        "company_revenue_range": "$1-10M",
                        "work_email_confirmed": "a4cd87c390c98385297fbe9250XXXXX",
                        "work_email_confirmed_status": "2025-10-12",
                        "personal_emails": [
                          "3018fe3a783fad1db0370ee3fXXXXX"
                        ],
                        "personal_emails_status": [
[...]
