{
  "openapi": "3.1.0",
  "info": {
    "title": "MoltSets API",
    "version": "1.0.0",
    "description": "Identity resolution API. Resolve emails, LinkedIn profiles, IP addresses, and emails into enriched contact and company data."
  },
  "servers": [
    {
      "url": "https://api.moltsets.com/api/v1/tools",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token. Keys follow the format `ms_XXXXXXXXXXX`."
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "properties": {
          "tokens_charged": {
            "type": "integer",
            "description": "Credits consumed by this request. Always `0` when no data is returned."
          },
          "tokens_remaining": {
            "type": "integer",
            "description": "Credits remaining after this request."
          }
        }
      },
      "ErrorBadRequest": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "The server cannot process the request due to a client error (400 Bad Request)."
          }
        }
      },
      "ErrorInvalidInput": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid Input"
          },
          "message": {
            "type": "string",
            "example": "Message describing the nature of the invalid input."
          }
        }
      },
      "ErrorUnauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Invalid API key."
          }
        }
      },
      "ErrorNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "example": "No match was found for the data provided."
          }
        }
      },
      "ErrorRateLimit": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Too Many Requests"
          },
          "message": {
            "type": "string",
            "example": "Rate limit exceeded. Maximum 100 requests per second."
          }
        }
      }
    }
  },
  "paths": {
"/search_people": {
    "post": {
      "summary": "Search for People",
      "operationId": "searchBusinessProfiles",
      "description": "Search MoltSets's contact database to find people by their employer, industry, company size, or revenue range. Use `query` for free-text company name search, `domain` for exact lookups, and the categorical filters (`industry`, `employee_range`, `revenue_range`) to narrow results. Returns ranked contact records — higher `_score` means a stronger match. Use this to build lead lists, identify decision-makers at target accounts, or populate outbound sequences with verified contact data.",
      "tags": [
        "Search"
      ],
      "requestBody": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "Full-text search across company name only. Do not put domain, industry, employee size, or revenue here — use the dedicated filter params for those."
                },
                "domain": {
                  "type": "string",
                  "description": "Exact domain filter. Omit the protocol (no https://). Prefer this over `query` when you have a known domain — it's a precise match.",
                  "example": "moltsets.com"
                },
                "industry": {
                  "type": "string",
                  "description": "Exact industry filter. Map the request to one of the supported values.",
                  "enum": [
                    "Professional and Business Services",
                    "Information Technology",
                    "Manufacturing",
                    "Retail",
                    "Health and Pharmaceuticals",
                    "Creative Arts and Entertainment",
                    "Construction",
                    "Marketing & Advertising",
                    "Finance and Banking",
                    "Tourism and Hospitality",
                    "Non-Profit and Social Services",
                    "Food and Beverage",
                    "Real Estate",
                    "Education",
                    "Transportation and Logistics",
                    "Media and Publishing",
                    "Energy",
                    "Automotive",
                    "Government and Public Administration",
                    "Telecommunications",
                    "Agriculture",
                    "Utilities",
                    "Corporate Services",
                    "Insurance",
                    "Banks",
                    "Computer Software",
                    "Pharmaceuticals and Biotechnology",
                    "Aerospace and Defense",
                    "Electronics",
                    "Mining and Metals"
                  ]
                },
                "employee_range": {
                  "type": "string",
                  "description": "Exact employee count range filter. Prefer the numeric ranges when a size is given.",
                  "enum": [
                    "1-10",
                    "11-20",
                    "21-50",
                    "51-200",
                    "201-500",
                    "501-1000",
                    "1001-5000",
                    "5001+",
                    "Small",
                    "Mid-Market",
                    "Enterprise",
                    "Unknown"
                  ]
                },
                "revenue_range": {
                  "type": "string",
                  "description": "Exact annual revenue range filter.",
                  "enum": [
                    "Below $500k",
                    "$500k - $1M",
                    "$1M - $5M",
                    "$5M - $10M",
                    "$10M - $20M",
                    "$20M - $50M",
                    "Above $50M",
                    "$50M - $100M",
                    "$100M - $250M",
                    "$250M - $500M",
                    "$500M - $1B",
                    "$1B - $2.5B",
                    "$2.5B - $5B",
                    "Over $5B"
                  ]
                },
                "limit": {
                  "type": "integer",
                  "description": "Number of results to return.",
                  "default": 10,
                  "minimum": 1,
                  "maximum": 25
                },
                "offset": {
                  "type": "integer",
                  "description": "Number of results to skip for pagination. Use with limit to page through results.",
                  "default": 0
                }
              }
            },
            "example": {
              "query": "MoltSets",
              "industry": "Information Technology",
              "limit": 10,
              "offset": 0
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "examples": {
                "found": {
                  "summary": "Data found",
                  "value": {
                    "results": {
                      "results": [
                        {
                          "title": "Senior Associate - Technical Director",
                          "company": {
                            "name": "MoltSets",
                            "size": "57",
                            "revenue": "1200000000",
                            "industry": "Information Technology",
                            "logo_url": "https://cdn.mixrank.com/md5/0bb6181a215bac707d7af3276be5XXXXX",
                            "website_url": "https://moltsets.com",
                            "linkedin_url": "https://linkedin.com/company/moltsets"
                          },
                          "country": "United States",
                          "headline": "Senior Associate - Technical Director @ MoltSets",
                          "full_name": "John Smith",
                          "last_name": "Smith",
                          "seniority": "Senior",
                          "first_name": "John",
                          "linkedin_url": "https://linkedin.com/in/john-smith-123",
                          "business_email": "john.smith@example.com",
                          "current_industry": "Information Technology",
                          "linkedin_slug": "john-smith-123",
                          "_id": "john-smith-123",
                          "_score": 9.1714
                        }
                      ],
                      "total": 278
                    },
                    "status": "ok",
                    "metadata": {
                      "tokens_charged": 1,
                      "tokens_remaining": 197
                    }
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Bad Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorBadRequest"
              }
            }
          }
        },
        "401": {
          "description": "Unauthorized",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorUnauthorized"
              }
            }
          }
        },
        "404": {
          "description": "Not Found",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorNotFound"
              }
            }
          }
        },
        "422": {
          "description": "Invalid Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorInvalidInput"
              }
            }
          }
        },
        "429": {
          "description": "Rate limit exceeded",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorRateLimit"
              }
            }
          }
        }
      }
    }
  }, 
"/search_companies": {
    "post": {
      "summary": "Search for Companies",
      "operationId": "searchCompanyProfiles",
      "description": "Search MoltSets's company database by name, domain, industry, employee count, or annual revenue to find and identify target accounts. Use `query` for free-text company name search, `domain` for exact lookups by website domain, and the categorical filters (`industry`, `employee_range`, `revenue_range`) to narrow your results. Combine `query` with filters for best precision. Returns ranked company records — higher `_score` means a stronger match. Ideal for building prospect lists, qualifying accounts, or enriching CRM data with firmographic context.",
      "tags": [
        "Search"
      ],
      "requestBody": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "Full-text search across company name only. Do not put domain, industry, employee size, or revenue here — use the dedicated filter params for those."
                },
                "domain": {
                  "type": "string",
                  "description": "Exact domain filter. Omit the protocol (no https://). Prefer this over `query` when you have a known domain — it's a precise match.",
                  "example": "moltsets.com"
                },
                "industry": {
                  "type": "string",
                  "description": "Exact industry filter. Map the request to one of the supported values.",
                  "enum": [
                    "Professional and Business Services",
                    "Information Technology",
                    "Manufacturing",
                    "Retail",
                    "Health and Pharmaceuticals",
                    "Creative Arts and Entertainment",
                    "Construction",
                    "Marketing & Advertising",
                    "Finance and Banking",
                    "Tourism and Hospitality",
                    "Non-Profit and Social Services",
                    "Food and Beverage",
                    "Real Estate",
                    "Education",
                    "Transportation and Logistics",
                    "Media and Publishing",
                    "Energy",
                    "Automotive",
                    "Government and Public Administration",
                    "Telecommunications",
                    "Agriculture",
                    "Utilities",
                    "Corporate Services",
                    "Insurance",
                    "Banks",
                    "Computer Software",
                    "Pharmaceuticals and Biotechnology",
                    "Aerospace and Defense",
                    "Electronics",
                    "Mining and Metals"
                  ]
                },
                "employee_range": {
                  "type": "string",
                  "description": "Exact employee count range filter. Prefer the numeric ranges when a size is given.",
                  "enum": [
                    "1-10",
                    "11-20",
                    "21-50",
                    "51-200",
                    "201-500",
                    "501-1000",
                    "1001-5000",
                    "5001+",
                    "Small",
                    "Mid-Market",
                    "Enterprise",
                    "Unknown"
                  ]
                },
                "revenue_range": {
                  "type": "string",
                  "description": "Exact annual revenue range filter.",
                  "enum": [
                    "Below $500k",
                    "$500k - $1M",
                    "$1M - $5M",
                    "$5M - $10M",
                    "$10M - $20M",
                    "$20M - $50M",
                    "Above $50M",
                    "$50M - $100M",
                    "$100M - $250M",
                    "$250M - $500M",
                    "$500M - $1B",
                    "$1B - $2.5B",
                    "$2.5B - $5B",
                    "Over $5B"
                  ]
                },
                "limit": {
                  "type": "integer",
                  "description": "Number of results to return.",
                  "default": 10,
                  "minimum": 1,
                  "maximum": 25
                },
                "offset": {
                  "type": "integer",
                  "description": "Number of results to skip for pagination. Use with limit to page through results.",
                  "default": 0
                }
              }
            },
            "example": {
              "query": "MoltSets",
              "industry": "Information Technology",
              "employee_range": "51-200",
              "limit": 10,
              "offset": 0
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "examples": {
                "found": {
                  "summary": "Data found",
                  "value": {
                    "results": {
                      "results": [
                        {
                          "logo": "https://cdn.mixrank.com/md5/0e4e81c8ff584b1ce3e4c3067e8cXXXXX",
                          "name": "MoltSets",
                          "type": "Privately Held",
                          "domain": "moltsets.com",
                          "industry": "Information Technology",
                          "linkedin_url": "https://linkedin.com/company/moltsets",
                          "exact_revenue": 1200000000.0,
                          "revenue_range": "Above $50M",
                          "employee_count": 57,
                          "employee_range": "51-200",
                          "follower_count": 3677,
                          "linkedin_company_id": "13223077",
                          "_id": "moltsets.com",
                          "_score": 15.2394
                        },
                        {
                          "name": "Acme",
                          "type": "Privately Held",
                          "domain": "acme.com",
                          "industry": "Information Technology",
                          "linkedin_url": "https://linkedin.com/company/acme",
                          "revenue_range": "$10M - $20M",
                          "employee_count": 90,
                          "employee_range": "51-200",
                          "follower_count": 121,
                          "linkedin_company_id": "82353383",
                          "_id": "acme.com",
                          "_score": 13.1942
                        }
                      ],
                      "total": 210
                    },
                    "status": "ok",
                    "metadata": {
                      "tokens_charged": 1,
                      "tokens_remaining": 206
                    }
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Bad Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorBadRequest"
              }
            }
          }
        },
        "401": {
          "description": "Unauthorized",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorUnauthorized"
              }
            }
          }
        },
        "404": {
          "description": "Not Found",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorNotFound"
              }
            }
          }
        },
        "422": {
          "description": "Invalid Input",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorInvalidInput"
              }
            }
          }
        },
        "429": {
          "description": "Rate limit exceeded",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrorRateLimit"
              }
            }
          }
        }
      }
    }
  },
    "/search_linkedin_profile": {
      "post": {
        "summary": "Search for LinkedIn Profile",
        "operationId": "linkedinSlugSearch",
        "description": "Find the LinkedIn profile for a person or company from a name and company domain. Pass a full name (we parse it into first and last for you) or send `first_name` and `last_name` separately, then add the company as a domain like `acme.com`. URLs are normalised automatically, so you do not need to clean your inputs first. Run a free count first with `count_only: true` to see how many matches exist, then tighten or loosen your search before committing tokens. Full results are only charged when we actually find data, so an empty search costs you nothing.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  },
                  "count_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "Free — returns the count of matching results without fetching data or charging tokens. Use this first to gauge result volume before committing to a full search."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com",
                "count_only": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "count_only": {
                    "summary": "Count only",
                    "value": {
                      "results": {
                        "count": 3
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 0,
                        "tokens_remaining": 206
                      }
                    }
                  },
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": [
                        {
                          "full_name": "John Smith",
                          "first_name": "Tate",
                          "last_name": "Blahnik",
                          "linkedin_slug": "tate-blahnik-123",
                          "linkedin_url": "https://linkedin.com/in/tate-blahnik-123",
                          "company": "acme.com"
                        }
                      ],
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 205
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_email_by_name": {
      "post": {
        "summary": "Search Business Email by Name",
        "operationId": "searchBusinessEmailByName",
        "description": "Find a person's verified business email address from just their name and company domain. This endpoint runs a LinkedIn profile search and an email lookup in a single call, returning the verified email along with the matched LinkedIn profile URL. Pass either a full name or separate `first_name` and `last_name` fields, and provide the company as a domain like `acme.com`. URLs are normalised automatically, and tokens are only charged when an email is found.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@acme.com",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 205
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_profile_by_name": {
      "post": {
        "summary": "Search Business Profile by Name",
        "operationId": "searchBusinessProfileByName",
        "description": "Find anyone's full business profile from just their name and company domain. This endpoint runs a LinkedIn profile search and a firmographic lookup in a single call, returning the person's job title, company, and company data such as industry, size, and location. Pass either a full name or separate `first_name` and `last_name` fields, and provide the company as a domain like `acme.com`. URLs are normalised automatically, and tokens are only charged when a match is found.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  },
                  "include_mobile_phone": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include mobile phone lookup (additional DynamoDB query)."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com",
                "include_mobile_phone": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "full_name": "John Smith",
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "VP of Engineering",
                        "company": "Acme Inc",
                        "company_domain": "acme.com",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123",
                        "mobile_phone": "+15551234567",
                        "firmographics": {
                          "industry": "Software",
                          "employee_count": "201-500",
                          "revenue": "$50M-$100M"
                        }
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 205
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_email": {
      "post": {
        "summary": "LinkedIn to Best Email",
        "operationId": "enrichEmail",
        "description": "Look up the best available email address for any LinkedIn profile. Returns a verified business email when one exists, and automatically falls back to a personal email if not — so you always get a result when data is available. The `type` field in the response tells you which kind was returned. Use this as your default LinkedIn-to-email enrichment endpoint when email type is not a constraint.",
        "tags": [
          "Get Verified Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address found, or null if not found."
                        },
                        "type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "business",
                            "personal",
                            null
                          ],
                          "description": "Whether the returned email is a business or personal address."
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO 8601 timestamp of last validation, or null."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com",
                        "type": "business",
                        "last_validated_at": null
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 28
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "not_found"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "No data found",
                    "value": {
                      "results": {
                        "email": null,
                        "type": null,
                        "last_validated_at": null
                      },
                      "status": "not_found",
                      "metadata": {
                        "tokens_charged": 0,
                        "tokens_remaining": 28
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_business_email": {
      "post": {
        "summary": "LinkedIn to Business Email",
        "operationId": "enrichBusinessEmail",
        "description": "Retrieve the verified business (work) email address for any LinkedIn profile. Only returns corporate email addresses — no personal inboxes. Use this when you need to reach contacts at their workplace domain, such as for B2B outreach, CRM enrichment, or account-based marketing campaigns. If you also want a personal email fallback, use `linkedin_to_best_email` instead.",
        "tags": [
          "Get Verified Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Verified business email address"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_personal_email": {
      "post": {
        "summary": "LinkedIn to Personal Email",
        "operationId": "enrichPersonalEmail",
        "description": "Retrieve the verified personal email address (such as Gmail or iCloud) for any LinkedIn profile. Useful for reaching contacts outside their work inbox — ideal for recruitment outreach, consumer marketing, or re-engagement campaigns where a personal address improves deliverability.",
        "tags": [
          "Get Verified Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_personal_email": {
      "post": {
        "summary": "LinkedIn to Best Personal Email",
        "operationId": "linkedinToBestPersonalEmail",
        "description": "Turn a LinkedIn profile into a verified personal email in a single call. The LinkedIn to Best Personal Email endpoint takes a LinkedIn URL or slug and returns the highest-confidence personal email address we hold for that person, along with the date it was last validated. Every email is re-checked within the last 30 days, so each result comes back with a recent validation date you can act on with confidence.",
        "tags": [
          "Get Verified Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn profile URL — accepts a full URL (https://linkedin.com/in/janedoe), a partial URL (linkedin.com/in/janedoe), or a bare slug (janedoe).",
                    "example": "https://linkedin.com/in/johndoe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_mobile_phone": {
      "post": {
        "summary": "LinkedIn to Mobile Phone",
        "operationId": "enrichPhone",
        "description": "Look up the carrier-verified mobile phone number for a LinkedIn profile. Only mobile numbers are returned — no landlines or VoIP numbers — so every result is a real device. Supports both single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`). Use for SMS outreach, cold calling, or enriching sales sequences with direct-dial mobile numbers.",
        "tags": [
          "Get Carrier-Verified Mobile Phones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "mobile_phone": "5555555555"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 10,
                        "tokens_remaining": 208
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/email_to_maid": {
      "post": {
        "summary": "Email to MAID",
        "operationId": "hemToMaid",
        "description": "Resolve an email address to one or more Mobile Advertising IDs (MAIDs), including AAIDs (Android Advertising IDs) and IDFAs (Apple Identifier for Advertisers). MAIDs are used by ad platforms to target users on their mobile devices with precision. Use this endpoint to connect a known email identity to mobile device signals — enabling cross-device retargeting, programmatic audience activation, and mobile-first ad campaigns against your contact lists.",
        "tags": [
          "Get Ad Audience"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": [
                        {
                          "device_id": "b8c747bb-96c5-453f-b770-9d64889XXXXX",
                          "device_type": "AAID"
                        }
                      ],
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    
    "/business_email_to_sha256": {
      "post": {
        "summary": "Business Email to SHA256",
        "operationId": "businessEmailToSHA256",
        "description": "Convert a business email address into SHA256-hashed personal email addresses for privacy-safe identity resolution and paid advertising audience matching. The returned hashes can be uploaded directly to Meta, Google, LinkedIn, TikTok, and other ad platforms that support customer match or custom audience workflows. Use this to retarget known contacts across their personal devices without exposing raw personal email data.",
        "tags": [
          "Get Ad Audience"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Business email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "personal_email_SHA256": [
                          "e187e84b06e1e6577bcebe42d3905434ddc89d2d5abaab8e85691882310XXXXX"
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 207
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    
    "/linkedin_to_sha256": {
      "post": {
        "summary": "LinkedIn to SHA256",
        "operationId": "linkedinToSHA256",
        "description": "Retrieve all known SHA256 and MD5 hashed emails for a LinkedIn profile, covering both business and personal email addresses. Returns separate arrays for business and personal hashes in both formats, giving you maximum coverage for audience matching across ad platforms. Use this when you need to build the broadest possible match key set for a LinkedIn-identified contact — for example, to maximise match rates when uploading customer lists to Meta, Google, or LinkedIn Ads.",
        "tags": [
          "Get Ad Audience"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "linkedin_slug": "john-smith-123",
                        "business_SHA256_array": [
                          "f101da855ed67dc34c9729f04df8aeefXXXXX"
                        ],
                        "business_md5_array": [
                          "900b89c0e5ece81f7fb0a72ef3dXXXXX"
                        ],
                        "personal_SHA256_array": [
                          "266f422db074460bb5bf41984c3aXXXXX"
                        ],
                        "personal_md5_array": [
                          "0c86fde3392c84d6514de378dc1XXXXX"
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 191
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/reverse_linkedin_lookup": {
      "post": {
        "summary": "Reverse LinkedIn Lookup",
        "operationId": "linkedinToBusinessProfile",
        "description": "Resolve a LinkedIn profile URL into a complete business profile, including full name, job title, seniority, company name, company website, industry, revenue, verified business email, personal email, and optionally a carrier-verified mobile phone number. This is MoltSets's most complete LinkedIn enrichment endpoint — use it when you need a full picture of a contact and their employer in a single call. Set `include_mobile_phone: true` to append a direct-dial mobile number; additional credits apply when phone data is found.",
        "tags": [
          "Reverse Lookups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "example": "https://linkedin.com/in/retentionadam"
                  },
                  "include_mobile_phone": {
                    "type": "boolean",
                    "description": "When true, attempts to include mobile phone in the response.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "first_name": "John",
                        "last_name": "Smith",
                        "full_name": "John Smith",
                        "title": "Senior Associate - Technical Director",
                        "seniority": "Senior",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123",
                        "business_email": "john.smith@example.com",
                        "personal_email": "john.smith@gmail.com",
                        "personal_emails": [
                          "john.smith@gmail.com"
                        ],
                        "mobile_phone": "5555555555",
                        "country": "United States",
                        "current_industry": "Information Technology",
                        "company": {
                          "name": "MoltSets",
                          "website_url": "https://moltsets.com",
                          "linkedin_url": "https://linkedin.com/company/moltsets",
                          "industry": "Information Technology",
                          "revenue": "1200000000"
                        }
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 197
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorBadRequest" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorUnauthorized" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorNotFound" } } } },
          "422": { "description": "Invalid Input", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorInvalidInput" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorRateLimit" } } } }
        }
      }
    },
    "/reverse_email_lookup": {
      "post": {
        "summary": "Reverse Email Lookup",
        "operationId": "hemToBusinessProfile",
        "description": "Resolve an email address into a complete business profile, including full name, job title, seniority, company, LinkedIn URL, firmographic data, and additional email addresses on file. Use this to enrich inbound leads, form fills, or email list records with everything you need to qualify and contact a prospect. Set `include_mobile_phone: true` to also return a carrier-verified mobile number when available; external credits apply when phone data is found.",
        "tags": [
          "Reverse Lookups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  },
                  "include_mobile_phone": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, attempts to include mobile phone. Costs external credits when data is found."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "Principal Cybersecurity Engineer",
                        "seniority": "Manager",
                        "functional_area": "Information Technology",
                        "linkedinurl": "https://www.linkedin.com/in/john-smith-123",
                        "current_company": "MoltSets",
                        "current_company_url": "https://moltsets.com",
                        "current_company_linkedinurl": "https://linkedin.com/company/moltsets",
                        "country": "United States",
                        "company_employee_count": "3",
                        "company_employee_range": "1-10",
                        "company_revenue": "1200000000",
                        "company_revenue_range": "$1-10M",
                        "work_email_confirmed": "a4cd87c390c98385297fbe9250XXXXX",
                        "work_email_confirmed_status": "2025-10-12",
                        "personal_emails": [
                          "3018fe3a783fad1db0370ee3fXXXXX"
                        ],
                        "personal_emails_status": [
                          null
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 198
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorBadRequest" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorUnauthorized" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorNotFound" } } } },
          "422": { "description": "Invalid Input", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorInvalidInput" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorRateLimit" } } } }
        }
      }
    },
    "/email_to_linkedin": {
      "post": {
        "summary": "Email to LinkedIn",
        "operationId": "hemToBestLinkedin",
        "description": "Resolve an email address to the highest-confidence LinkedIn profile URL when multiple candidates exist. Unlike `hem_to_linkedin`, which returns a slug, this endpoint scores all matching profiles and returns the single best full LinkedIn URL. Use this when email-to-LinkedIn match quality is critical — for example, before personalising outreach, triggering enrichment workflows, or appending LinkedIn data to a contact record.",
        "tags": [
          "Get LinkedIn"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "linkedin_url": "https://www.linkedin.com/in/john-smith-123"
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorBadRequest" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorUnauthorized" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorNotFound" } } } },
          "422": { "description": "Invalid Input", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorInvalidInput" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorRateLimit" } } } }
        }
      }
    },
    "/ip_to_company": {
      "post": {
        "summary": "IP to Company",
        "operationId": "ipToCompany",
        "description": "Identify the company or companies associated with an IPv4 address. Pass an IP from your website visitor logs, server request data, or analytics platform and get back the domain of the organisation behind that traffic. Best suited for B2B use cases — consumer ISP addresses will typically not resolve to a named company. Use this to de-anonymise B2B web traffic, trigger account-based workflows, or feed website visitor identification pipelines.",
        "tags": [
          "Get Company"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ip_address"
                ],
                "properties": {
                  "ip_address": {
                    "type": "string",
                    "description": "IPv4 address to resolve.",
                    "example": "8.8.8.8"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "companies": [
                          {
                            "domain": "acme.com",
                            "percentage": "1.0"
                          }
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "tokens_charged": 1,
                        "tokens_remaining": 206
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorBadRequest" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorUnauthorized" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorNotFound" } } } },
          "422": { "description": "Invalid Input", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorInvalidInput" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorRateLimit" } } } }
        }
      }
    },
    
    "/get_account": {
      "post": {
        "summary": "Get Account",
        "operationId": "getAccount",
        "description": "Retrieve your MoltSets account details, including account name, current plan, account status, remaining credit balance, number of API keys, and user count. Use this to programmatically check account health, verify active status, or display account information inside your own application or dashboard.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "No arguments required. Send an empty object."
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Account ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Account name"
                        },
                        "status": {
                          "type": "string",
                          "description": "Account status",
                          "enum": [
                            "active",
                            "suspended"
                          ]
                        },
                        "plan": {
                          "type": "string",
                          "description": "Current plan",
                          "enum": [
                            "free",
                            "starter",
                            "growth",
                            "unlimited"
                          ]
                        },
                        "credit_balance": {
                          "type": "integer",
                          "description": "Remaining credits"
                        },
                        "unlimited": {
                          "type": "boolean",
                          "description": "true if the account has unlimited credits"
                        },
                        "api_key_count": {
                          "type": "integer",
                          "description": "Number of API keys on the account"
                        },
                        "user_count": {
                          "type": "integer",
                          "description": "Number of users on the account"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 account creation timestamp"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "example": {
                  "results": {
                    "id": "XXXXXXXX",
                    "name": "MoltSets",
                    "status": "active",
                    "plan": "free",
                    "credit_balance": 217,
                    "unlimited": false,
                    "api_key_count": 4,
                    "user_count": 1,
                    "created_at": "2026-04-15T13:55:29Z"
                  },
                  "status": "ok",
                  "metadata": {
                    "tokens_charged": 0,
                    "tokens_remaining": 217
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/get_billing": {
      "post": {
        "summary": "Get Billing",
        "operationId": "getBilling",
        "description": "Retrieve your MoltSets billing details, including your current plan, subscription status, remaining credit balance, billing period start and end dates, and the credit cost for each available tool. Use this to monitor spend, confirm renewal dates, or display live billing information inside your own application.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "No arguments required. Send an empty object."
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "plan": {
                          "type": "string",
                          "enum": [
                            "free",
                            "starter",
                            "growth",
                            "unlimited"
                          ]
                        },
                        "subscription_status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "none",
                            "cancelled",
                            "past_due"
                          ]
                        },
                        "credit_balance": {
                          "type": "integer"
                        },
                        "unlimited": {
                          "type": "boolean"
                        },
                        "current_period_start": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "current_period_end": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "token_costs": {
                          "type": "object",
                          "description": "Credit cost per tool call. Keys are tool names, values are integer credit costs.",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "example": {
                  "results": {
                    "plan": "free",
                    "subscription_status": "none",
                    "credit_balance": 250,
                    "unlimited": false,
                    "current_period_start": null,
                    "current_period_end": null,
                    "token_costs": {
                      "linkedin_to_best_email": 1,
                      "linkedin_to_business_email": 1,
                      "linkedin_to_personal_email": 1,
                      "linkedin_to_mobile_phone": 10,
                      "get_account": 0,
                      "get_billing": 0,
                      "get_usage": 0
                    }
                  },
                  "status": "ok",
                  "metadata": {
                    "tokens_charged": 0,
                    "tokens_remaining": 250
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/get_usage": {
      "post": {
        "summary": "Get Usage",
        "operationId": "getUsage",
        "description": "Retrieve a detailed breakdown of your MoltSets API credit usage for a chosen time period — today, the past week, the past month, or the current billing cycle. Returns a day-by-day log of API calls made, credits consumed, successful lookups, empty results, and failed requests, along with period totals. Use this to track consumption trends, audit usage by day, or build internal usage dashboards.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "period": {
                    "type": "string",
                    "enum": [
                      "today",
                      "week",
                      "month",
                      "billing_cycle"
                    ],
                    "default": "today",
                    "description": "Time window to report on. Defaults to `today`."
                  }
                }
              },
              "example": {
                "period": "month"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "results": {
                    "period": "month",
                    "start_date": "2026-04-01",
                    "end_date": "2026-04-29",
                    "credit_balance": 250,
                    "days": [
                      {
                        "date": "2026-04-16",
                        "calls": 2,
                        "credits": 0,
                        "with_data": 2,
                        "without_data": 0,
                        "failed": 0
                      }
                    ],
                    "totals": {
                      "calls": 2,
                      "credits": 0,
                      "with_data": 2,
                      "without_data": 0,
                      "failed": 0
                    }
                  },
                  "status": "ok",
                  "metadata": {
                    "tokens_charged": 0,
                    "tokens_remaining": 250
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Search and filter company and business profiles by name, domain, industry, size, or revenue."
    },
    {
      "name": "Get Verified Emails",
      "description": "Resolve and enrich verified business and personal email addresses."
    },
    {
      "name": "Get Carrier-Verified Mobile Phones",
      "description": "Enrich carrier-verified mobile phone numbers."
    },
    {
      "name": "Get Full Business Profile",
      "description": "Resolve identifiers to full business profiles and company firmographics."
    },
    {
      "name": "Get Ad Audience",
      "description": "Resolve identifiers to hashed email (HEM) and mobile advertising IDs (MAIDs) for audience matching."
    },
    {
      "name": "Get Company",
      "description": "Resolve IP addresses to company data."
    },
    {
      "name": "Account",
      "description": "Account management tools. Free — do not consume credits."
    }
  ]
}
