{
  "openapi": "3.1.0",
  "info": {
    "title": "MoltSets API",
    "version": "1.0.0",
    "description": "MoltSets is an identity resolution API. Use it to resolve emails, LinkedIn profiles, and IP addresses into enriched contact and company data, including business and personal emails, mobile phone numbers, and firmographic details."
  },
  "servers": [
    {
      "url": "https://api.moltsets.com/api/v1/tools",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token. Keys follow the format `ms_XXXXXXXXXXX`."
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "properties": {
          "fair_use": {
            "type": "object",
            "description": "Fair Use Policy headroom for the record limits that apply to this call.",
            "properties": {
              "records_remaining_5h": {
                "type": "integer",
                "description": "Records you can still request in the current rolling 5-hour window."
              },
              "records_reset_5h": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the 5-hour records window resets."
              },
              "records_remaining_1w": {
                "type": "integer",
                "description": "Records you can still request in the current rolling 1-week window."
              },
              "records_reset_1w": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp when the 1-week records window resets."
              }
            }
          },
          "external_tokens_used": {
            "type": "integer",
            "description": "External tokens consumed by this request when data was resolved from a third-party source. `0` when the request was served from MoltSets's own database."
          },
          "external_tokens_remaining": {
            "type": "integer",
            "description": "External tokens remaining after this request."
          }
        }
      },
      "ErrorBadRequest": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "The server cannot process the request due to a client error (400 Bad Request)."
          }
        }
      },
      "ErrorInvalidInput": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Invalid Input"
          },
          "message": {
            "type": "string",
            "example": "Message describing the nature of the invalid input."
          }
        }
      },
      "ErrorUnauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unauthorized"
          },
          "message": {
            "type": "string",
            "example": "Invalid API key."
          }
        }
      },
      "ErrorNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not Found"
          },
          "message": {
            "type": "string",
            "example": "No match was found for the data provided."
          }
        }
      },
      "ErrorRateLimit": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Too Many Requests"
          },
          "message": {
            "type": "string",
            "example": "Rate limit exceeded. Maximum 100 requests per second."
          }
        }
      }
    }
  },
  "paths": {
    "/search_people": {
      "post": {
        "summary": "Search for People",
        "operationId": "searchBusinessProfiles",
        "description": "The People Search API lets you search MoltSets' contact database for people by name, job title, company, industry, country, seniority, or department.\n\nUse `query` for free text search across name, company, title, and headline (this is where names and role keywords go). Use the filters (`country`, `seniority`, `industry`, `department` or `functional_area`) to narrow results further. Combining `query` with filters gives the most precise matches. Every result comes back ranked, with a higher `_score` meaning a stronger match.\n\n**Use this endpoint to:**\n- Build targeted lead lists for outbound sales\n- Identify decision makers at specific target accounts\n- Populate outbound sequences with verified contact data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Full-text search across full_name, first_name, last_name, company name, title (~85% filled), and headline (~65% filled) using cross-field matching. Multi-word queries distribute terms across fields — \"John Smith\" matches first_name: John AND last_name: Smith rather than requiring either field alone to contain the full string. Job titles and role keywords are matched against both the title field (e.g. \"Account Executive\", \"Head of Sales\") and the headline field (e.g. \"B2B sales leader\"). For seniority level (VP, Director, C-suite) use the `seniority` filter instead — this field is best suited to specific role or function keywords, combined with other filters for precision, e.g. `query: \"Account Executive\"`, `country: \"United States\"`, `seniority: \"Senior\"`. Categorical values like country or seniority belong in their own filter params rather than this field."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company name filter — scopes results to people whose employer's name matches. Analysed match: every word you provide must appear in the company name, so extra words in the stored name are fine (\"Acme\" matches \"Acme Corporation\"). Use this when you have a company name but not its domain; if you have the domain, prefer `company_domain`, which is more precise.",
                    "example": "MoltSets"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Company domain filter — scopes results to people at the company with this website domain. Full URLs are normalised automatically (\"https://www.acme.com/about\" → \"acme.com\"), so there is no need to strip the protocol or path yourself. The most precise way to target a single company — prefer it over `company` whenever you know the domain.",
                    "example": "moltsets.com"
                  },
                  "country": {
                    "type": "string",
                    "description": "Exact country name filter (~99% filled — most reliable filter). Must match the stored value exactly. Top values by volume: \"United States\", \"India\", \"United Kingdom\", \"Brazil\", \"Canada\", \"France\", \"Mexico\", \"Australia\", \"China\", \"Spain\", \"Netherlands\", \"Italy\", \"Indonesia\", \"Germany\", \"Philippines\", \"Turkey\", \"South Africa\", \"Saudi Arabia\", \"Argentina\", \"Singapore\", \"United Arab Emirates\", \"Colombia\", \"South Korea\", \"Malaysia\", \"Poland\", \"Belgium\", \"Switzerland\", \"Ireland\", \"Sweden\", \"Denmark\", \"Norway\", \"Austria\", \"Portugal\", \"Israel\", \"New Zealand\", \"Finland\", \"Greece\", \"Hungary\", \"Romania\", \"Ukraine\". Use the full English country name.",
                    "example": "United States"
                  },
                  "state": {
                    "type": "string",
                    "description": "Exact state or region name filter on the person's location. Must match the stored value exactly — full names with standard capitalisation, not abbreviations (\"Texas\", not \"TX\"). Combine with `country` for precision.",
                    "example": "Texas"
                  },
                  "city": {
                    "type": "string",
                    "description": "Exact city name filter on the person's location. Must match the stored value exactly, with standard capitalisation. City names repeat across regions, so combine with `state` and/or `country` to disambiguate — e.g. city: \"Portland\", state: \"Oregon\". Matches only the exact stored city, not its suburbs — for a metro-area search prefer `state` or `country`.",
                    "example": "Austin"
                  },
                  "seniority": {
                    "type": "string",
                    "description": "Exact seniority level filter (~60% filled). Must match one of the enumerated values exactly, including the space in \"C Suite\" (not a hyphen).",
                    "enum": [
                      "Intern",
                      "Entry",
                      "Senior",
                      "Manager",
                      "Director",
                      "VP",
                      "Head",
                      "C Suite",
                      "Owner",
                      "Partner"
                    ]
                  },
                  "industry": {
                    "type": "string",
                    "description": "Exact industry filter (~60% filled). Must match one of the enumerated values exactly, including capitalisation and punctuation (e.g. the ampersand in \"Marketing & Advertising\").",
                    "enum": [
                      "Information Technology",
                      "Professional and Business Services",
                      "Finance and Banking",
                      "Education",
                      "Health and Pharmaceuticals",
                      "Manufacturing",
                      "Government and Public Administration",
                      "Retail",
                      "Food and Beverage",
                      "Creative Arts and Entertainment",
                      "Non-Profit and Social Services",
                      "Transportation and Logistics",
                      "Construction",
                      "Tourism and Hospitality",
                      "Energy",
                      "Marketing & Advertising",
                      "Telecommunications",
                      "Real Estate",
                      "Automotive",
                      "Media and Publishing",
                      "Agriculture"
                    ]
                  },
                  "department": {
                    "type": "string",
                    "description": "Exact department filter (~60% filled). Shares its underlying data with `functional_area` — use one or the other, not both. Must match one of the enumerated values exactly, including capitalisation and punctuation (e.g. the ampersand in \"Medical & Health\").",
                    "enum": [
                      "Operations",
                      "Sales",
                      "Information Technology",
                      "Education",
                      "Engineering",
                      "Finance",
                      "Medical & Health",
                      "Marketing",
                      "Human Resources",
                      "Design",
                      "Consulting",
                      "Legal"
                    ]
                  },
                  "functional_area": {
                    "type": "string",
                    "description": "Exact functional area filter (~60% filled). Shares its underlying data with `department` — use one or the other, not both.",
                    "enum": [
                      "Operations",
                      "Sales",
                      "Information Technology",
                      "Education",
                      "Engineering",
                      "Finance",
                      "Medical & Health",
                      "Marketing",
                      "Human Resources",
                      "Design",
                      "Consulting",
                      "Legal"
                    ]
                  },
                  "employee_range": {
                    "type": "string",
                    "description": "Exact employee-count range filter on the person's current employer — finds people at companies of a certain size without needing to name a specific company. Values are fixed bucket ranges (e.g. \"51-200\", \"1001-5000\"). Legacy values (\"Small\", \"Mid-Market\", \"Enterprise\", \"Unknown\") also exist in older records but have far less coverage than the numeric ranges. Combine with other filters, e.g. `seniority: \"VP\"`, `employee_range: \"51-200\"`.",
                    "enum": [
                      "1-10",
                      "11-20",
                      "21-50",
                      "51-200",
                      "201-500",
                      "501-1000",
                      "1001-5000",
                      "5001+",
                      "Small",
                      "Mid-Market",
                      "Enterprise",
                      "Unknown"
                    ]
                  },
                  "revenue_range": {
                    "type": "string",
                    "description": "Exact annual revenue range filter on the person's current employer — finds people at companies of a certain revenue without needing to name a specific company. Values are fixed bucket ranges. \"$1 - $1M\" is a legacy format equivalent to \"$500k - $1M\" but with far fewer records.",
                    "enum": [
                      "Below $500k",
                      "$500k - $1M",
                      "$1M - $5M",
                      "$5M - $10M",
                      "$10M - $20M",
                      "$20M - $50M",
                      "Above $50M",
                      "$50M - $100M",
                      "$100M - $250M",
                      "$250M - $500M",
                      "$500M - $1B",
                      "$1B - $2.5B",
                      "$2.5B - $5B",
                      "Over $5B",
                      "$1 - $1M"
                    ]
                  },
                  "naics_code": {
                    "type": "string",
                    "description": "Exact NAICS industry code filter on the person's current employer (~50% filled). Works at any level of the hierarchy, from the 2-digit sector (\"23\" = Construction, \"54\" = Professional Services) through to the 6-digit national industry (\"541120\" = Offices of Notaries, \"511210\" = Software Publishers). Use a short code for broad industry targeting and a longer code for precision. The most standardised industry filter available — prefer it over `industry` when you need fine-grained targeting.",
                    "example": "541120"
                  },
                  "linkedin_industry": {
                    "type": "string",
                    "description": "Exact LinkedIn industry label filter on the person's current employer (~50% filled). Uses LinkedIn's own ~150-value industry vocabulary, which is far finer-grained than the 21 buckets in `industry`. Must match the stored label exactly, with standard capitalisation — for example \"Software Development\", \"Hospitality\", \"Legal Services\", \"Wellness and Fitness Services\", \"Construction\", \"Staffing and Recruiting\". Use when a niche industry cannot be expressed by the broad `industry` buckets.",
                    "example": "Software Development"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return (default: 10, max: 25).",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 25
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of results to skip for pagination (default: 0). Use with limit to page through results — e.g. offset: 10 to get the second page of 10 results.",
                    "default": 0
                  }
                }
              },
              "example": {
                "query": "Account Executive",
                "country": "United States",
                "seniority": "Senior",
                "limit": 10,
                "offset": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "results": [
                          {
                            "title": "Senior Associate - Technical Director",
                            "company": {
                              "name": "MoltSets",
                              "size": "57",
                              "revenue": "1200000000",
                              "industry": "Information Technology",
                              "logo_url": "https://cdn.mixrank.com/md5/0bb6181a215bac707d7af3276be5XXXXX",
                              "website_url": "https://moltsets.com",
                              "linkedin_url": "https://linkedin.com/company/moltsets"
                            },
                            "country": "United States",
                            "headline": "Senior Associate - Technical Director @ MoltSets",
                            "full_name": "John Smith",
                            "last_name": "Smith",
                            "seniority": "Senior",
                            "first_name": "John",
                            "linkedin_url": "https://linkedin.com/in/john-smith-123",
                            "business_email": "john.smith@example.com",
                            "business_email_risk_score": "A",
                            "current_industry": "Information Technology",
                            "linkedin_slug": "john-smith-123",
                            "_id": "john-smith-123",
                            "_score": 9.1714
                          }
                        ],
                        "total": 278
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_companies": {
      "post": {
        "summary": "Search for Companies",
        "operationId": "searchCompanyProfiles",
        "description": "The Company Search API lets you search MoltSets' company database by name, domain, industry, employee count, or annual revenue, so you can find and qualify target accounts.\n\nUse `query` for free text company name search, `domain` for an exact lookup by website domain, and the filters (`industry`, `employee_range`, `revenue_range`) to narrow your results. Combining `query` with filters gives the most precise matches. Every result comes back ranked, with a higher `_score` meaning a stronger match.\n\n**Use this endpoint to:**\n- Build prospect lists for account-based marketing\n- Qualify target accounts before outreach\n- Enrich CRM records with firmographic data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Full-text search across company name only. Do not put domain, industry, employee size, or revenue here — use the dedicated filter params for those."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Exact company domain filter. Full URLs are normalised automatically (\"https://www.acme.com/about\" → \"acme.com\"), so there is no need to strip the protocol or path yourself. Prefer this over `query` when you know the domain, since it is a precise match rather than a text search.",
                    "example": "moltsets.com"
                  },
                  "industry": {
                    "type": "string",
                    "description": "Exact industry filter. Must match one of the enumerated values exactly.",
                    "enum": [
                      "Professional and Business Services",
                      "Information Technology",
                      "Manufacturing",
                      "Retail",
                      "Health and Pharmaceuticals",
                      "Creative Arts and Entertainment",
                      "Construction",
                      "Marketing & Advertising",
                      "Finance and Banking",
                      "Tourism and Hospitality",
                      "Non-Profit and Social Services",
                      "Food and Beverage",
                      "Real Estate",
                      "Education",
                      "Transportation and Logistics",
                      "Media and Publishing",
                      "Energy",
                      "Automotive",
                      "Government and Public Administration",
                      "Telecommunications",
                      "Agriculture",
                      "Utilities",
                      "Corporate Services",
                      "Insurance",
                      "Banks",
                      "Computer Software",
                      "Pharmaceuticals and Biotechnology",
                      "Aerospace and Defense",
                      "Electronics",
                      "Mining and Metals"
                    ]
                  },
                  "employee_range": {
                    "type": "string",
                    "description": "Exact employee count range filter. Values are fixed bucket ranges (e.g. \"51-200\", \"1001-5000\"); legacy values (\"Small\", \"Mid-Market\", \"Enterprise\", \"Unknown\") also exist but have far less coverage than the numeric ranges.",
                    "enum": [
                      "1-10",
                      "11-20",
                      "21-50",
                      "51-200",
                      "201-500",
                      "501-1000",
                      "1001-5000",
                      "5001+",
                      "Small",
                      "Mid-Market",
                      "Enterprise",
                      "Unknown"
                    ]
                  },
                  "revenue_range": {
                    "type": "string",
                    "description": "Exact annual revenue range filter. \"$1 - $1M\" is a legacy format equivalent to \"$500k - $1M\" but with far fewer records — prefer \"$500k - $1M\" for that range.",
                    "enum": [
                      "Below $500k",
                      "$500k - $1M",
                      "$1M - $5M",
                      "$5M - $10M",
                      "$10M - $20M",
                      "$20M - $50M",
                      "Above $50M",
                      "$50M - $100M",
                      "$100M - $250M",
                      "$250M - $500M",
                      "$500M - $1B",
                      "$1B - $2.5B",
                      "$2.5B - $5B",
                      "Over $5B",
                      "$1 - $1M"
                    ]
                  },
                  "naics_code": {
                    "type": "string",
                    "description": "Exact NAICS industry code filter (~50% filled). Works at any level of the hierarchy, from the 2-digit sector (\"23\" = Construction, \"54\" = Professional Services) through to the 6-digit national industry (\"541120\" = Offices of Notaries, \"511210\" = Software Publishers). Use a short code for broad industry targeting and a longer code for precision — the most standardised industry filter available.",
                    "example": "541120"
                  },
                  "linkedin_industry": {
                    "type": "string",
                    "description": "Exact LinkedIn industry label filter (~50% filled). Uses LinkedIn's own ~150-value industry vocabulary, which is finer-grained than the buckets in `industry`. Must match the stored label exactly, with standard capitalisation — for example \"Software Development\", \"Hospitality\", \"Legal Services\", \"Staffing and Recruiting\", \"Wellness and Fitness Services\".",
                    "example": "Software Development"
                  },
                  "country": {
                    "type": "string",
                    "description": "Exact country name filter on the company's location. Use the full English country name. Note that company location is derived from where the company's team is based: this is accurate for the small companies that dominate the index, but large multinationals are attributed to a single one of their offices — combine it with other filters rather than relying on location alone when targeting global companies.",
                    "example": "United States"
                  },
                  "state": {
                    "type": "string",
                    "description": "Exact state or region name filter on the company's location. Full names with standard capitalisation (\"Texas\", not \"TX\"). Combine with `country` for precision. Location is team-derived in the same way as `country`, so it is most accurate for smaller companies.",
                    "example": "Texas"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return (default: 10, max: 25).",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 25
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Number of results to skip for pagination (default: 0). Use with limit to page through results — e.g. offset: 10 to get the second page of 10 results.",
                    "default": 0
                  }
                }
              },
              "example": {
                "query": "MoltSets",
                "industry": "Information Technology",
                "employee_range": "51-200",
                "limit": 10,
                "offset": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "results": [
                          {
                            "logo": "https://cdn.mixrank.com/md5/0e4e81c8ff584b1ce3e4c3067e8cXXXXX",
                            "name": "MoltSets",
                            "type": "Privately Held",
                            "domain": "moltsets.com",
                            "industry": "Information Technology",
                            "linkedin_url": "https://linkedin.com/company/moltsets",
                            "exact_revenue": 1200000000.0,
                            "revenue_range": "Above $50M",
                            "employee_count": 57,
                            "employee_range": "51-200",
                            "follower_count": 3677,
                            "linkedin_company_id": "13223077",
                            "_id": "moltsets.com",
                            "_score": 15.2394
                          },
                          {
                            "name": "Acme",
                            "type": "Privately Held",
                            "domain": "acme.com",
                            "industry": "Information Technology",
                            "linkedin_url": "https://linkedin.com/company/acme",
                            "revenue_range": "$10M - $20M",
                            "employee_count": 90,
                            "employee_range": "51-200",
                            "follower_count": 121,
                            "linkedin_company_id": "82353383",
                            "_id": "acme.com",
                            "_score": 13.1942
                          }
                        ],
                        "total": 210
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_linkedin_profile": {
      "post": {
        "summary": "Search for LinkedIn Profile",
        "operationId": "linkedinSlugSearch",
        "description": "The LinkedIn Profile Search API finds a person or company's LinkedIn profile from a name and company domain.\n\nPass a full name (MoltSets splits it into first and last name for you) or send `first_name` and `last_name` separately, then add the company as a domain, for example `acme.com`. URLs are normalised automatically, so there's no need to clean up your inputs first.\n\nRun a free count first with `count_only: true` to see how many matches exist, then tighten or loosen your search before spending tokens. Full results are only charged when a match is actually found, so an empty search costs nothing.\n\n**Use this endpoint to:**\n- Confirm you have the right LinkedIn profile before enriching a contact\n- Check match volume before running a bulk search\n- Attach LinkedIn URLs to contact records that are missing one\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  },
                  "count_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "Free — returns the count of matching results without fetching data or charging tokens. Use this first to gauge result volume before committing to a full search."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com",
                "count_only": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "count_only": {
                    "summary": "Count only",
                    "value": {
                      "results": {
                        "count": 3
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  },
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": [
                        {
                          "full_name": "John Smith",
                          "first_name": "John",
                          "last_name": "Smith",
                          "linkedin_slug": "john-smith-123",
                          "linkedin_url": "https://linkedin.com/in/john-smith-123",
                          "company": "acme.com"
                        }
                      ],
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_email_by_name": {
      "post": {
        "summary": "Search Business Email by Name",
        "operationId": "searchBusinessEmailByName",
        "description": "The Business Email Finder API finds a person's valid work email address from just their name and company domain.\n\nIt runs a LinkedIn profile search and an email lookup in a single call, and returns the email address along with the matched LinkedIn profile URL. Pass a full name or separate `first_name` and `last_name` fields, and provide the company as a domain, for example `acme.com`. URLs are normalised automatically, and tokens are only charged when an email is found.\n\n**Use this endpoint to:**\n- Find a prospect's work email before outreach\n- Fill in missing email fields on a lead list\n- Enrich CRM records with verified contact emails\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@acme.com",
                        "risk_score": "A",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/search_business_profile_by_name": {
      "post": {
        "summary": "Search Business Profile by Name",
        "operationId": "searchBusinessProfileByName",
        "description": "The Business Profile Finder API finds anyone's full business profile from just their name and company domain.\n\nIt runs a LinkedIn profile search and a firmographic lookup in a single call, and returns the person's job title and company, plus company details such as industry, size, and location. Pass a full name or separate `first_name` and `last_name` fields, and provide the company as a domain, for example `acme.com`. URLs are normalised automatically, and tokens are only charged when a match is found.\n\n**Use this endpoint to:**\n- Build a complete picture of a contact and their employer in one call\n- Qualify leads with company context before outreach\n- Enrich CRM records with job title and firmographic data\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-search/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Search</a>.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name (e.g. 'John Smith') — parsed into first and last name automatically."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name (used if `name` is not provided)."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name (used if `name` is not provided)."
                  },
                  "company": {
                    "type": "string",
                    "description": "Company domain (e.g. 'acme.com') or URL (e.g. 'https://acme.com') — normalized to domain.",
                    "example": "acme.com"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Alias for `company` — company domain or URL."
                  }
                }
              },
              "example": {
                "name": "John Smith",
                "company": "acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "full_name": "John Smith",
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "VP of Engineering",
                        "company": "Acme Inc",
                        "company_domain": "acme.com",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123",
                        "firmographics": {
                          "industry": "Software",
                          "employee_count": "201-500",
                          "revenue": "$50M-$100M"
                        }
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_email": {
      "post": {
        "summary": "LinkedIn to Best Email",
        "operationId": "enrichEmail",
        "description": "The LinkedIn to Email API finds the best available email address for any LinkedIn profile.\n\nIt returns a valid business email when one exists, and automatically falls back to a personal email if not, so you get a result whenever the data is available. The `type` field in the response tells you which kind was returned. Use this as your default LinkedIn-to-email enrichment endpoint when the type of email doesn't matter to you.\n\n**Use this endpoint to:**\n- Enrich LinkedIn-sourced leads with a working email address\n- Maximise match rate across business and personal inboxes\n- Fill contact records that only have a LinkedIn URL\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address found, or null if not found."
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        },
                        "type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "business",
                            "personal",
                            null
                          ],
                          "description": "Whether the returned email is a business or personal address."
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO 8601 timestamp of last validation, or null."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com",
                        "risk_score": "A",
                        "type": "business",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "No data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "last_validated_at": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "not_found"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "not_found": {
                    "summary": "No data found",
                    "value": {
                      "results": {
                        "email": null,
                        "type": null,
                        "last_validated_at": null
                      },
                      "status": "not_found",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_business_email": {
      "post": {
        "summary": "LinkedIn to Business Email",
        "operationId": "enrichBusinessEmail",
        "description": "The LinkedIn to Business Email API retrieves the valid work email address for any LinkedIn profile.\n\nIt only returns corporate email addresses, no personal inboxes. Use this when you need to reach contacts at their workplace domain, for example for B2B outreach, CRM enrichment, or account-based marketing campaigns. If you also want a personal email fallback, use `linkedin_to_best_email` instead.\n\n**Use this endpoint to:**\n- Reach prospects at their work email address\n- Enrich B2B lead lists with corporate emails\n- Power account-based marketing and sales sequences\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Valid business email address"
                        },
                        "risk_score": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "A",
                            "B",
                            "C",
                            "D",
                            "F",
                            null
                          ],
                          "description": "Send-safety risk grade after email validation: A=validated deliverable, B=known engagement no bounce, C=catch-all/unknowable, D=hard invalid/bounce/complaint/trap, F=no signal."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@example.com",
                        "risk_score": "A"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_personal_email": {
      "post": {
        "summary": "LinkedIn to Personal Email",
        "operationId": "enrichPersonalEmail",
        "description": "The LinkedIn to Personal Email API retrieves the valid personal email address, such as Gmail or iCloud, for any LinkedIn profile.\n\nUse this to reach contacts outside their work inbox. It's well suited to recruitment outreach, consumer marketing, or re-engagement campaigns where a personal address improves deliverability.\n\n**Use this endpoint to:**\n- Reach candidates or prospects outside working hours\n- Improve deliverability for consumer marketing sends\n- Re-engage contacts who've left their previous employer\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Full LinkedIn profile URL or slug.",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "risk_score": "A",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_best_personal_email": {
      "post": {
        "summary": "LinkedIn to Best Personal Email",
        "operationId": "linkedinToBestPersonalEmail",
        "description": "The LinkedIn to Best Personal Email API turns a LinkedIn profile into a valid personal email address in a single call.\n\nPass a LinkedIn URL or slug and get back the highest-confidence personal email MoltSets holds for that person, along with the date it was last validated. Every email is re-checked within the last 30 days, so each result comes with a recent validation date you can act on with confidence.\n\n**Use this endpoint to:**\n- Get the single best personal email for a contact, with confidence\n- Confirm an email is still active before sending\n- Enrich records where deliverability matters most\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Get Valid Emails"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn profile URL — accepts a full URL (https://linkedin.com/in/janedoe), a partial URL (linkedin.com/in/janedoe), or a bare slug (janedoe).",
                    "example": "https://linkedin.com/in/johndoe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "email": "john.smith@gmail.com",
                        "risk_score": "A",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin_to_mobile_phone": {
      "post": {
        "summary": "LinkedIn to Mobile Phone",
        "operationId": "enrichPhone",
        "description": "The LinkedIn to Mobile Phone API looks up the carrier-verified mobile phone number for a LinkedIn profile, along with the date it was last verified.\n\nOnly mobile numbers are returned, no landlines or VoIP numbers, so every result is a real device. It supports single lookups (`linkedin_url`) and batch lookups of up to 100 profiles at once (`linkedin_urls`). External tokens are required for mobile phone lookups, at a cost of 10 tokens per returned result.\n\n**Use this endpoint to:**\n- Power SMS outreach and cold calling\n- Enrich sales sequences with direct-dial mobile numbers\n- Batch-append verified phone numbers to a contact list\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Get Carrier-Verified Mobile Phones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Single LinkedIn profile URL."
                  },
                  "linkedin_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "description": "Batch of LinkedIn profile URLs, up to 100."
                  }
                }
              },
              "examples": {
                "single": {
                  "summary": "Single lookup",
                  "value": {
                    "linkedin_url": "https://linkedin.com/in/retentionadam"
                  }
                },
                "batch": {
                  "summary": "Batch lookup",
                  "value": {
                    "linkedin_urls": [
                      "https://linkedin.com/in/retentionadam",
                      "https://linkedin.com/in/jane-doe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "mobile_phone": "5555555555",
                        "last_validated_at": "2026-03-04"
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/reverse_email_lookup": {
      "post": {
        "summary": "Reverse Email Lookup",
        "operationId": "hemToBusinessProfile",
        "description": "The Reverse Email Lookup API resolves an email address into a complete business profile, including full name, job title, seniority, company, LinkedIn URL, firmographic data, and any other email addresses on file.\n\n**Use this endpoint to:**\n- Enrich inbound leads and form fills with full contact context\n- Qualify a prospect before you reach out\n- Fill in missing profile data on an existing email list\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Reverse Lookups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "first_name": "John",
                        "last_name": "Smith",
                        "title": "Principal Cybersecurity Engineer",
                        "seniority": "Manager",
                        "functional_area": "Information Technology",
                        "linkedinurl": "https://www.linkedin.com/in/john-smith-123",
                        "current_company": "MoltSets",
                        "current_company_url": "https://moltsets.com",
                        "current_company_linkedinurl": "https://linkedin.com/company/moltsets",
                        "country": "United States",
                        "company_employee_count": "3",
                        "company_employee_range": "1-10",
                        "company_revenue": "1200000000",
                        "company_revenue_range": "$1-10M",
                        "work_email_confirmed": "a4cd87c390c98385297fbe9250XXXXX",
                        "work_email_confirmed_status": "2025-10-12",
                        "personal_emails": [
                          "3018fe3a783fad1db0370ee3fXXXXX"
                        ],
                        "personal_emails_status": [
                          null
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/reverse_linkedin_lookup": {
      "post": {
        "summary": "Reverse LinkedIn Lookup",
        "operationId": "linkedinToBusinessProfile",
        "description": "The Reverse LinkedIn Lookup API resolves a LinkedIn profile URL into a complete business profile, including full name, job title, seniority, company name, company website, industry, revenue, a valid business email, and a personal email.\n\nThis is MoltSets' most complete LinkedIn enrichment endpoint. Use it when you need the full picture of a contact and their employer in a single call.\n\n**Use this endpoint to:**\n- Turn a LinkedIn URL into a fully enriched contact record\n- Get company firmographics alongside personal contact details\n- Power CRM enrichment workflows from a single input\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.\n\n**External Tokens:**\nMoltSets resolves most contact data — emails, phone numbers, et al. — from its own database. For some requests, the data you're looking for isn't in that database, and MoltSets will make a call to a third-party data source to try to find it. Those calls cost external tokens. For more information on external tokens, <a href=\"https://support.moltsets.com/en/articles/15280420-external-tokens\" target=\"_blank\" rel=\"noopener\">click here</a>.",
        "tags": [
          "Reverse Lookups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "linkedin_url"
                ],
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "example": "https://linkedin.com/in/retentionadam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "first_name": "John",
                        "last_name": "Smith",
                        "full_name": "John Smith",
                        "title": "Senior Associate - Technical Director",
                        "seniority": "Senior",
                        "linkedin_url": "https://linkedin.com/in/john-smith-123",
                        "business_email": "john.smith@example.com",
                        "business_email_risk_score": "A",
                        "personal_email": "john.smith@gmail.com",
                        "personal_email_risk_score": "A",
                        "personal_emails": [
                          "john.smith@gmail.com"
                        ],
                        "personal_emails_risk_score": [
                          "A"
                        ],
                        "country": "United States",
                        "current_industry": "Information Technology",
                        "company": {
                          "name": "MoltSets",
                          "website_url": "https://moltsets.com",
                          "linkedin_url": "https://linkedin.com/company/moltsets",
                          "industry": "Information Technology",
                          "revenue": "1200000000"
                        }
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/email_to_maid": {
      "post": {
        "summary": "Email to MAID",
        "operationId": "hemToMaid",
        "description": "The Email to MAID API resolves an email address to one or more Mobile Advertising IDs (MAIDs), including AAIDs (Android Advertising IDs) and IDFAs (Apple Identifiers for Advertisers).\n\nMAIDs are what ad platforms use to target users on their mobile devices with precision. Use this endpoint to connect a known email identity to mobile device signals, enabling cross-device retargeting, programmatic audience activation, and mobile-first ad campaigns against your contact lists.\n\n**Use this endpoint to:**\n- Build mobile retargeting audiences from your contact list\n- Activate programmatic ad campaigns against known contacts\n- Connect email identities to mobile device signals for cross-device targeting\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Get Ad Audience"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": [
                        {
                          "device_id": "b8c747bb-96c5-453f-b770-9d64889XXXXX",
                          "device_type": "AAID"
                        }
                      ],
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidInput"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRateLimit"
                }
              }
            }
          }
        }
      }
    },
    "/business_email_to_sha256": {
      "post": {
        "summary": "Business Email to SHA256",
        "operationId": "businessEmailToSHA256",
        "description": "The Business Email to SHA256 API converts a business email address into SHA256-hashed personal email addresses, for privacy-safe identity resolution and paid advertising audience matching.\n\nThe hashes it returns can be uploaded directly to Meta, Google, LinkedIn, TikTok, and other ad platforms that support customer match or custom audience workflows. Use this to retarget known contacts across their personal devices without exposing raw personal email data.\n\n**Use this endpoint to:**\n- Build customer match audiences for Meta, Google, LinkedIn, or TikTok\n- Retarget contacts on their personal devices without exposing raw email addresses\n- Bridge business contacts to privacy-safe advertising identifiers\n\n**Fair Use Policy:**\nThis API is subject to our <a href=\"https://moltsets.com/fair-use-policy-enrichment/\" target=\"_blank\" rel=\"noopener\">Fair Use Policy for Enrichment</a>.",
        "tags": [
          "Get Ad Audience"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Business email address."
                  }
                }
              },
              "examples": {
                "email": {
                  "summary": "Using email",
                  "value": {
                    "email": "john.smith@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "found": {
                    "summary": "Data found",
                    "value": {
                      "results": {
                        "personal_email_SHA256": [
                          "e187e84b06e1e6577bcebe42d3905434ddc89d2d5abaab8e85691882310XXXXX"
                        ]
                      },
                      "status": "ok",
                      "metadata": {
                        "fair_use": {
                          "records_remaining_5h": 179999,
                          "records_reset_5h": "2026-07-15T18:53:16Z",
                          "records_remaining_1w": 899999,
                          "records_reset_1w": "2026-07-22T13:53:16Z"
                        },
                        "external_tokens_used": 0,
                        "external_tokens_remaining": 5000
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBadRequest"
[...]
